extends layout.pug

block scripts
  script(src='/javascripts/skyshares.admin.js')  
    
block content
  h1= title

  // Wrapper
  #wrapper

    // CONSTANTS
    div.list
      div.listheader
        | <strong>Constants</strong>
        a.listrightbutton( onclick='skyshares.admin.add("constant");' ) +
      #constants.listbody
    // /CONSTANTS
    
    // DATASETS
    div.list
      div.listheader
        | <strong>Datasets</strong>
        a.listrightbutton( onclick='skyshares.admin.add("dataset");' ) +
      #datasets.listbody
    // /DATASETS

    // GROUPS
    div.list
      div.listheader
        | <strong>Groups</strong>
        a.listrightbutton( onclick='skyshares.admin.add("group");' ) +
      #groups.listbody
    // /GROUPS
    
    // FUNCTIONS
    div.list
      div.listheader
        | <strong>Functions</strong>
        a.listrightbutton( onclick='skyshares.admin.add("function");' ) +
      #functions.listbody
    // /FUNCTIONS

    // VARIABLES
    div.list
      div.listheader
        | <strong>Variables</strong>
        a.listrightbutton( onclick='skyshares.admin.add("variable");' ) +
      #variables.listbody
    // /VARIABLES
    
    // MAC
    div.list
      div.listheader
        | <strong>MAC</strong>
        a.listrightbutton( onclick='skyshares.admin.redirectToMac()' ) +
      #mac.listbody
    // /VARIABLES

  // /WRAPPER

