doctype html
html
	head
		title SkyShares
		// fonts
		link(href='http://fonts.googleapis.com/css?family=Open+Sans', rel='stylesheet', type='text/css')
		// load c3.css
		link(href='javascripts/c3/c3.css', rel='stylesheet', type='text/css')
		// load d3.js and c3.js
		script(src='javascripts/d3/d3.min.js', charset='utf-8')
		|		 
		script(src='javascripts/c3/c3.js')
		// load skyshares css
		link(rel='stylesheet', href='styles/skyshares.css')
		// load all other libraries
		script(src='javascripts/excellentexport.js')
		|		 
		script(type='text/javascript', src='javascripts/sprintf.js')
		|		 
		script(type='text/javascript', src='javascripts/canvg/rgbcolor.js')
		|		 
		script(type='text/javascript', src='javascripts/canvg/StackBlur.js')
		|		 
		script(type='text/javascript', src='javascripts/canvg/canvg.js')
		|		 
		meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no')
		meta(charset='utf-8')
	body
		#map
			object(id='map.object', type='image/svg+xml', data='images/map.svg', style='width: 100%; height: 100%;')
				| Your browser does not support SVG
			|				 
			#country-details
		|		 
		#topbar
			img#cgd-logo(src='images/cgdlogo-inv.png', alt='Center for Global Development Logo')
			|         
			#control-panel
				span#skyshares-status.statusdisplay initialising..
				|             
				#skyshares-progress.progressindicator.progressindicator-spin(style='position: absolute; top: 12px; right: 12px;')
			|         
			img#skyshares-logo(src='images/logo.png', alt='SkyShares Logo')
			|         
			#menu(data-target='#scrollpanel', data-translation='0,-100')
				.menu-item.menu-item-selected(data-section='#map-controls' onclick='skyshares.ui.selectsection(this);') map
				|						 
				.menu-item(data-section='#options' onclick='skyshares.ui.selectsection(this);') options
				|						 
				.menu-item(data-section='#summary' onclick='skyshares.ui.selectsection(this);') summary
				|						 
				.menu-item(data-section='#tables' onclick='skyshares.ui.selectsection(this);') tables
				|						 
				.menu-item(data-section='#charts' onclick='skyshares.ui.selectsection(this);') charts
				|						 
				.menu-item(data-section='#documentation' onclick='skyshares.ui.selectsection(this);') documentation
				|						 
				.menu-item(data-section='#about' onclick='skyshares.ui.selectsection(this);') about
		|		 
		#scrollcontainer
			#scrollpanel
				#map-controls.skyshares-sectioncontainer(style='display: block; pointer-events: none;')
					.skyshares-sectiontoolbar(style='pointer-events: none;')
						.skyshares-sectiontoolbar-column(style='pointer-events: none;')
							input#mapzoom.skyshares(name='mapzoom', type='range', min='0', max='100', value='0', title='map zoom', style='margin-top: 24px; pointer-events: all;')
							//
								<output id='mapzoom-output' class='skyshares' for='mapzoom' data-format='zoom x %.1f' style='font-size: 24px;'>
								zoom x 1.0
								</output>
						|										 
						.skyshares-sectiontoolbar-column(style='pointer-events: none; align-self: flex-end; -webkit-align-self: flex-end;')
							output#year-output.skyshares(for='year', data-format='%d', style='font-weight: bold;')
								| 2015
							|												 
							input#year.skyshares(name='year', type='range', min='2014', value='2015', max='2100', title='current year', style='width: 90%; margin-bottom: 12px; pointer-events: all;')
						|										 
						.skyshares-sectiontoolbar-column(style='pointer-events: none;')
							fieldset.skyshares(style='margin-top: 0px; pointer-events: all;')
								input#flow-regional.skyshares(name='flow', type='checkbox', value='regional')
								|														 
								label.skyshares(for='flow-regional', style='background-image: url("images/regionalflow.png"); color: rgba( 255, 255, 255, 0.25);', title='regional flows')
								|														 
								input#flow-country.skyshares(name='flow', type='checkbox', value='country')
								|														 
								label.skyshares(for='flow-country', style='background-image: url("images/countryflow.png"); color: rgba( 255, 255, 255, 0.25);', title='national flows')
					#map-legend
						| highest emitter
						#map-legend-1
						#map-legend-2
						#map-legend-3
						#map-legend-4
						#map-legend-5
						#map-legend-6
						| lowest emitter
				|						 
				#options.skyshares-sectioncontainer
					.skyshares-sectionheader(data-target='#options-body', data-translation='-100,0')
						.menu-item.menu-item-selected( data-subsection='#options' onclick='skyshares.ui.selectsubsection(this);') options
						|										 
						.menu-item( data-subsection='#coalition' onclick='skyshares.ui.selectsubsection(this);') coalition
						|										 
						.menu-item( data-subsection='#advanced' onclick='skyshares.ui.selectsubsection(this);') advanced
					|								 
					#options-body.skyshares-sectionbody(style='width: 300%;')
						.skyshares-subsection
							.skyshares-subsection-content
								.skyshares-subsection-column#carbon-budget
									// carbon budget
									h1.skyshares-subsection
										| Carbon Budget
									// target temperature
									.skyshares-control-group
										output#temperature-output.skyshares(for='temperature', data-format='%.1f&deg;C')
											| 2.0
										|																		 
										input#temperature.skyshares(name='temperature', type='range', min='1.5', max='6.5', step='0.5', value='2', title='target temperature')
										|																		 
										label.skyshares(for='temperature') target temperature
									// risk scenario
									.skyshares-control-group
										output#risk-scenario-output.skyshares
											| 50%
										|																		 
										fieldset#risk-scenario.skyshares
											input#risk-optimistic.skyshares(name='risk-scenario', type='radio', value='66%', checked=false)
											|																				 
											label.skyshares(for='risk-optimistic', style='background-color: rgba( 0, 255, 0, 1.0); color: rgba( 0, 255, 0, 0.25);')
											|																				 
											input#risk-cautious.skyshares(name='risk-scenario', type='radio', value='50%', checked=true)
											|																				 
											label.skyshares(for='risk-cautious', style='background-color: rgba( 255, 194, 0, 1.0); color: rgba( 255, 194, 0, 0.25);')
											|																				 
											input#risk-pesimistic.skyshares(name='risk-scenario', type='radio', value='33%', checked=false)
											|																				 
											label.skyshares(for='risk-pesimistic', style='background-color: rgba( 255, 0, 0, 1.0); color: rgba( 255, 0, 0, 0.25);')
										|																		 
										label.skyshares likelihood
								|														 
								.skyshares-subsection-column#allocation-rule
									h1.skyshares-subsection
										| Allocation Rule
									// convergence date
									.skyshares-control-group
										output#convergencedate-output.skyshares(for='convergencedate')
											| 2030
										|																		 
										input#convergencedate.skyshares(name='convergencedate', type='range', min='2016', max='2100', value='2030', title='convergence date')
										|																		 
										label.skyshares(for='convergencedate') convergence date
									// allocation
									.skyshares-control-group
										output#allocation-output.skyshares(data-format='%s')
											| Per Capita
										|																		 
										fieldset#allocation.skyshares
											input#allocation-historical.skyshares(name='allocation', type='radio', value='Equal Stocks')
											|																				 
											label.skyshares(for='allocation-historical', style='background-image: url("images/allocation-historical.png"); color: rgba( 255, 255, 255, 0.25);', title='Allowances are allocated on an equal per capita stock basis. This scenario takes into account past emissions and adjusts future allowances correspondingly')
											|																				 
											input#allocation-percapita.skyshares(name='allocation', type='radio', value='Per Capita', checked='')
											|																				 
											label.skyshares(for='allocation-percapita', style='background-image: url("images/allocation-percapita.png"); color: rgba( 255, 255, 255, 0.25);', title='Allowances are grandfathered from current emissions shares and converge to per capita entitlements')
											|																				 
											input#allocation-money.skyshares(name='allocation', type='radio', value='Per Dollar')
											|																				 
											label.skyshares(for='allocation-money', style='background-image: url("images/allocation-money.png"); color: rgba( 255, 255, 255, 0.25);', title='Allowances converge to shares of GDP. This scenario distributes allowances to the richest, and is intended to help visualise the distributional implications of the status quo')
										|																		 
										label.skyshares allocation
								|														 
								.skyshares-subsection-column#trading-scenario
									h1.skyshares-subsection
										| Trading Scenario
									|																 
									.skyshares-control-group
										output#percentagetraded-output.skyshares(for='temperature', data-format='%d%%')
											| 100%
										|																		 
										input#percentagetraded.skyshares(name='percentagetraded', type='range', min='0', max='100', value='100', title='percentage traded', data-min-label='none', data-max-label='full')
						|										 
						.skyshares-subsection
							.skyshares-subsection-content.skyshares-subsection-content-fullheight
								.skyshares-subsection-column.skyshares-subsection-column-flex
									h1.skyshares-subsection
										| Countries
									// country list
									#country-list.skyshares-select-list
								|														 
								.skyshares-subsection-column.skyshares-subsection-column-flex
									h1.skyshares-subsection
										| Groups
									// group list
									#group-list.skyshares-select-list
								|														 
								.skyshares-subsection-column.skyshares-subsection-column-flex
									h1.skyshares-subsection
										| Coalition
									// coalition list
									#coalition-list.skyshares-select-list
						|										 
						.skyshares-subsection
							.skyshares-subsection-content
								.skyshares-subsection-column
									.skyshares-control-group
										output#gdp-output.skyshares(data-format='%s')
											| CEPII
										|																		 
										fieldset#gdp.skyshares
											input#gdp-cepii.skyshares(name='gdp', type='radio', value='CEPII', checked='')
											label.skyshares(for='gdp-cepii', style='background-image: url("images/cepii.png"); color: rgba( 255, 255, 255, 0.25);')
											input#gdp-mit.skyshares(name='gdp', type='radio', value='MIT')
											label.skyshares(for='gdp-mit', style='background-image: url("images/mit.png"); color: rgba( 255, 255, 255, 0.25);')
										label.skyshares data source for GDP																		 
								.skyshares-subsection-column
									.skyshares-control-group
										output#mac-output.skyshares(data-format='%s')
											| GCAM
										|																		 
										fieldset#mac.skyshares
											input#mac-gcam.skyshares(name='mac', type='radio', value='GCAM', checked='')
											label.skyshares(for='mac-gcam', style='background-image: url("images/gcam.png"); color: rgba( 255, 255, 255, 0.25);')
											input#mac-mit.skyshares(name='mac', type='radio', value='MIT')
											label.skyshares(for='mac-mit', style='background-image: url("images/mit.png"); color: rgba( 255, 255, 255, 0.25);')
										label.skyshares 
											| data source for 
											br
											| marginal abatement cost curves																		 
				|						 
				#summary.skyshares-sectioncontainer
					.skyshares-sectionheader(data-target='#summary-body', data-translation='-100,0')
						.menu-item.menu-item-selected(onclick='skyshares.ui.selectsubsection(this);') allowances
						.menu-item(onclick='skyshares.ui.selectsubsection(this);') financial flows
						.menu-item(onclick='skyshares.ui.selectsubsection(this);') costs
						.menu-item(onclick='skyshares.ui.selectsubsection(this);') summary tables

					#summary-body.skyshares-sectionbody(style='width: 400%;')
						.skyshares-subsection
							.skyshares-subsection-content.skyshares-subsection-content-fullheight
								.skyshares-subsection-column.skyshares-subsection-column-flex
									h1.skyshares
										| Allowances&nbsp;
										input.skyshares.share(type='button', name='share-transfer-chart', value='', title='share', onclick="skyshares.share.sharechart(document.querySelector('#allowances-chart > svg'), 'allowances-chart', { margin: 8, title: 'Allowances' });")
									#allowances-chart.skyshares-chart

						.skyshares-subsection
							.skyshares-subsection-content.skyshares-subsection-content-fullheight
								.skyshares-subsection-column.skyshares-subsection-column-flex
									h1.skyshares
										| Financial Flows&nbsp;
										input.skyshares.share(type='button', name='share-flow-chart', value='', title='share', onclick="skyshares.share.sharechart(document.querySelector('#flow-chart > svg'), 'flow-chart', { margin: 8, title: 'Financial Flows' });")
									#flow-chart.skyshares-chart

						.skyshares-subsection
							.skyshares-subsection-content.skyshares-subsection-content-fullheight
								.skyshares-subsection-column.skyshares-subsection-column-flex
									h1.skyshares
										| Total Costs&nbsp;
										input.skyshares.share(type='button', name='share-total_cost-chart', value='', title='share', onclick="skyshares.share.sharechart(document.querySelector('#total_cost-chart > svg'), 'total_cost-chart', { margin: 8, title: 'Total Costs' });")
									#total_cost-chart.skyshares-chart

						.skyshares-subsection
							.skyshares-subsection-content.skyshares-subsection-content-fullheight
								.skyshares-subsection-column.skyshares-subsection-column-flex
									h1.skyshares
										| Summary Tables&nbsp;
										// input.skyshares.share(type='button', name='share-summary-table', value='', title='share')
									br
									.skyshares-summary-table-container
										#summary-navigator-groups.skyshares-summary-navigator
											| &nbsp;Groups&nbsp;
											#summary-navigator-groups-default.skyshares-summary-navigator-item( data-start='a', data-end='c' data-target='#summary-table-groups' onclick='skyshares.controller.rendergroupsummarytables(this);') a&nbsp;-&nbsp;c
											.skyshares-summary-navigator-item( data-start='d', data-end='j' data-target='#summary-table-groups' onclick='skyshares.controller.rendergroupsummarytables(this);') d&nbsp;-&nbsp;j
											.skyshares-summary-navigator-item( data-start='k', data-end='p' data-target='#summary-table-groups' onclick='skyshares.controller.rendergroupsummarytables(this);') k&nbsp;-&nbsp;p
											.skyshares-summary-navigator-item( data-start='q', data-end='z' data-target='#summary-table-groups' onclick='skyshares.controller.rendergroupsummarytables(this);') q&nbsp;-&nbsp;z
										#summary-table-groups.skyshares-table( style='overflow: auto; height: 288px; width: 100%;')
										br
										#summary-navigator-countries.skyshares-summary-navigator
											| &nbsp;Countries&nbsp;
											#summary-navigator-countries-default.skyshares-summary-navigator-item( data-start='a', data-end='c' data-target='#summary-table-countries' onclick='skyshares.controller.rendercountrysummarytables(this);') a&nbsp;-&nbsp;c
											.skyshares-summary-navigator-item( data-start='d', data-end='j' data-target='#summary-table-countries' onclick='skyshares.controller.rendercountrysummarytables(this);') d&nbsp;-&nbsp;j
											.skyshares-summary-navigator-item( data-start='k', data-end='p' data-target='#summary-table-countries' onclick='skyshares.controller.rendercountrysummarytables(this);') k&nbsp;-&nbsp;p
											.skyshares-summary-navigator-item( data-start='q', data-end='z' data-target='#summary-table-countries' onclick='skyshares.controller.rendercountrysummarytables(this);') q&nbsp;-&nbsp;z
										#summary-table-countries.skyshares-table( style='overflow: auto; height: 288px; width: 100%;')

				#tables.skyshares-sectioncontainer
					.skyshares-sectionheader(data-target='#tables-body', data-translation='-100,0')
						.menu-item.menu-item-selected(onclick='skyshares.ui.selectsubsection(this);') allowances
						|										 
						.menu-item(onclick='skyshares.ui.selectsubsection(this);') abatement
						|										 
						.menu-item(onclick='skyshares.ui.selectsubsection(this);') transfers
						|										 
						.menu-item(onclick='skyshares.ui.selectsubsection(this);') emissions
						|										 
						.menu-item(onclick='skyshares.ui.selectsubsection(this);') financial flows
						|										 
						.menu-item(onclick='skyshares.ui.selectsubsection(this);') decarbonisation costs
						|										 
						.menu-item(onclick='skyshares.ui.selectsubsection(this);') total costs
					|								 
					#tables-body.skyshares-sectionbody(style='width: 700%;')
						// allowances
						.skyshares-subsection
							.skyshares-subsection-content.skyshares-subsection-content-fullheight
								.skyshares-subsection-column.skyshares-subsection-column-flex
									h1.skyshares-subsection
										| Allowances (Mt of CO
										sub 2
										| )&nbsp;
										//input.skyshares.share(type='button', name='share-allowances-table', value='', title='share')
									|																 
									br
									|																 
									#allowances-table.skyshares-table
									|																 
									h1.skyshares-subsection
										| Allowances per person&nbsp;
										//input.skyshares.share(type='button', name='share-allowancescapita-table', value='', title='share')
									|																 
									br
									|																 
									#allowancescapita-table.skyshares-table
						// abatement
						.skyshares-subsection
							.skyshares-subsection-content.skyshares-subsection-content-fullheight
								.skyshares-subsection-column.skyshares-subsection-column-flex
									h1.skyshares-subsection
										| Abatement targets (Mt of CO
										sub 2
										| )&nbsp;
										//input.skyshares.share(type='button', name='share-abatement-table', value='', title='share')
									|																 
									br
									|																 
									#abatement-table.skyshares-table
									|																 
									h1.skyshares-subsection
										| Domestic abatement (Mt of CO
										sub 2
										| )&nbsp;
										//input.skyshares.share(type='button', name='share-domesticabatement-table', value='', title='share')
									|																 
									br
									|																 
									#domesticabatement-table.skyshares-table
						// transfers
						.skyshares-subsection
							.skyshares-subsection-content.skyshares-subsection-content-fullheight
								.skyshares-subsection-column.skyshares-subsection-column-flex
									h1.skyshares-subsection
										| Transfers (Mt of CO
										sub 2
										| )&nbsp;
										//input.skyshares.share(type='button', name='share-transfers-table', value='', title='share')
									|																 
									#transfers-table.skyshares-table
						// emissions
						.skyshares-subsection
							.skyshares-subsection-content.skyshares-subsection-content-fullheight
								.skyshares-subsection-column.skyshares-subsection-column-flex
									h1.skyshares-subsection
										| Emissions (Mt of CO
										sub 2
										| )&nbsp;
										//input.skyshares.share(type='button', name='share-emissions-table', value='', title='share')
									|																 
									br
									|																 
									#emissions-table.skyshares-table
									|																 
									h1.skyshares-subsection
										| Emissions per person&nbsp;
										//input.skyshares.share(type='button', name='share-emisionspercapita-table', value='', title='share')
									|																 
									br
									|																 
									#emisionspercapita-table.skyshares-table
						// flows
						.skyshares-subsection
							.skyshares-subsection-content.skyshares-subsection-content-fullheight
								.skyshares-subsection-column.skyshares-subsection-column-flex
									h1.skyshares-subsection
										| Financial Flows (millions)&nbsp;
										//input.skyshares.share(type='button', name='share-transfer-chart', value='', title='share')
									|																 
									br
									|																 
									#financialflows-table.skyshares-table
									|																 
									h1.skyshares-subsection
										| Financial Flows (share of GDP)&nbsp;
										//input.skyshares.share(type='button', name='share-financialflowsgdp-table', value='', title='share')
									|																 
									br
									|																 
									#financialflowsgdp-table.skyshares-table
						// decarbonisation costs
						.skyshares-subsection
							.skyshares-subsection-content.skyshares-subsection-content-fullheight
								.skyshares-subsection-column.skyshares-subsection-column-flex
									h1.skyshares-subsection
										| Decarbonisation Costs (millions)&nbsp;
										//input.skyshares.share(type='button', name='share-decarbonisationcost-table', value='', title='share')
									|																 
									br
									|																 
									#decarbonisationcost-table.skyshares-table
									|																 
									h1.skyshares-subsection
										| Decarbonisation costs (share of GDP)&nbsp;
										//input.skyshares.share(type='button', name='share-decarbonisationcostgdp-table', value='', title='share')
									|																 
									br
									|																 
									#decarbonisationcostgdp-table.skyshares-table
						// total costs
						.skyshares-subsection
							.skyshares-subsection-content.skyshares-subsection-content-fullheight
								.skyshares-subsection-column.skyshares-subsection-column-flex
									h1.skyshares-subsection
										| Total Costs (millions)&nbsp;
										//input.skyshares.share(type='button', name='share-totalcost-table', value='', title='share')
									|																 
									br
									|																 
									#totalcost-table.skyshares-table
									|																 
									h1.skyshares-subsection
										| Total Costs (share of GDP)&nbsp;
										//input.skyshares.share(type='button', name='share-totalcostgdp-table', value='', title='share')
									|																 
									br
									|																 
									#totalcostgdp-table.skyshares-table
				|						 
				#charts.skyshares-sectioncontainer
					.skyshares-sectionheader(data-target='#charts-body', data-translation='-100,0')
						.menu-item.menu-item-selected(onclick='skyshares.ui.selectsubsection(this);') world emissions
						|										 
						.menu-item(onclick='skyshares.ui.selectsubsection(this);') allowances
						|										 
						.menu-item(onclick='skyshares.ui.selectsubsection(this);') transfers
						|										 
						.menu-item(onclick='skyshares.ui.selectsubsection(this);') financial flows
						|										 
						.menu-item(onclick='skyshares.ui.selectsubsection(this);') decarbonisation costs
						|										 
						.menu-item(onclick='skyshares.ui.selectsubsection(this);') total costs
					|								 
					#charts-body.skyshares-sectionbody(style='width: 600%;')
						// world emissions
						.skyshares-subsection
							.skyshares-subsection-content.skyshares-subsection-content-fullheight
								.skyshares-subsection-column.skyshares-subsection-column-flex
									h1.skyshares-subsection
										| Historical Emissions and Global Emissions Budget&nbsp;
										input.skyshares.share(type='button', name='share-emissions-chart', value='', title='share', onclick="skyshares.share.sharechart(document.querySelector('#emissions-chart > svg'), 'emissions-chart', { margin: 8, title: 'Historical Emissions and Global Emissions Budget' });")
									|																 
									#emissions-chart.skyshares-chart
						|										 
						.skyshares-subsection
							.skyshares-subsection-content.skyshares-subsection-content-fullheight
								.skyshares-subsection-column.skyshares-subsection-column-flex
									h1.skyshares-subsection
										| Allowances
										input.skyshares.share(type='button', name='share-allowancesconverge-chart', value='', title='share', onclick="skyshares.share.sharechart(document.querySelector('#allowancesconverge-chart > svg'), 'allowancesconverge-chart', { margin: 8, title: 'Allowances' });")
									|																 
									#allowancesconverge-chart.skyshares-chart
									|																 
									h1.skyshares-subsection
										| Allowances (Per Capita)&nbsp;
										input.skyshares.share(type='button', name='share-allowancescapita-chart', value='', title='share', onclick="skyshares.share.sharechart(document.querySelector('#allowancescapita-chart > svg'), 'allowancescapita-chart', { margin: 8, title: 'Allowances (Per Capita)' });")
									|																 
									#allowancescapita-chart.skyshares-chart
						|										 
						.skyshares-subsection
							.skyshares-subsection-content.skyshares-subsection-content-fullheight
								.skyshares-subsection-column.skyshares-subsection-column-flex
									h1.skyshares-subsection
										| Annual Flows (millions) vs. Price of Permits ($ per tonne CO&#x2082;)&nbsp;
										input.skyshares.share(type='button', name='share-transfer-chart', value='', title='share', onclick="skyshares.share.sharechart(document.querySelector('#transfers-chart> svg'), 'transfers-chart', { margin: 8, title: 'Annual Flows vs. Price of Permits' });")
									|																 
									#transfers-chart.skyshares-chart
						|										 
						.skyshares-subsection
							.skyshares-subsection-content.skyshares-subsection-content-fullheight
								.skyshares-subsection-column.skyshares-subsection-column-flex
									h1.skyshares-subsection
										| Financial Flows&nbsp;
										input.skyshares.share(type='button', name='share-transfer-chart', value='', title='share', onclick="skyshares.share.sharechart(document.querySelector('#financialflows-chart > svg'), 'financialflows-chart', { margin: 8, title: 'Financial Flows' });")
									|																 
									#financialflows-chart.skyshares-chart
									|																 
									h1.skyshares
										| Financial Flows (share of GDP)&nbsp;
										input.skyshares.share(type='button', name='share-transfer-chart', value='', title='share', onclick="skyshares.share.sharechart(document.querySelector('#financialflowsgdp-chart > svg'), 'financialflowsgdp-chart', { margin: 8, title: 'Financial Flows (share of GDP)' });")
									|																 
									#financialflowsgdp-chart.skyshares-chart
						|										 
						.skyshares-subsection
							.skyshares-subsection-content.skyshares-subsection-content-fullheight
								.skyshares-subsection-column.skyshares-subsection-column-flex
									h1.skyshares-subsection
										| Decarbonisation Costs&nbsp;
										input.skyshares.share(type='button', name='share-transfer-chart', value='', title='share', onclick="skyshares.share.sharechart(document.querySelector('#decarbonisationcost-chart > svg'), 'decarbonisationcost-chart', { margin: 8, title: 'Decarbonisation Costs' });")
									|																 
									#decarbonisationcost-chart.skyshares-chart
									|																 
									h1.skyshares-subsection
										| Decarbonisation Costs (share of GDP)&nbsp;
										input.skyshares.share(type='button', name='share-transfer-chart', value='', title='share', onclick="skyshares.share.sharechart(document.querySelector('#decarbonisationcostgdp-chart > svg'), 'decarbonisationcostgdp-chart', { margin: 8, title: 'Decarbonisation Costs (share of GDP)' });")
									|																 
									#decarbonisationcostgdp-chart.skyshares-chart
						|										 
						.skyshares-subsection
							.skyshares-subsection-content.skyshares-subsection-content-fullheight
								.skyshares-subsection-column.skyshares-subsection-column-flex
									h1.skyshares-subsection
										| Total Costs&nbsp;
										input.skyshares.share(type='button', name='share-transfer-chart', value='', title='share', onclick="skyshares.share.sharechart(document.querySelector('#totalcost-chart > svg'), 'totalcost-chart', { margin: 8, title: 'Total Costs' });")
									|																 
									#totalcost-chart.skyshares-chart
									|																 
									h1.skyshares-subsection
										| Total Costs (share of GDP)&nbsp;
										input.skyshares.share(type='button', name='share-transfer-chart', value='', title='share', onclick="skyshares.share.sharechart(document.querySelector('#totalcostgdp-chart > svg'), 'totalcostgdp-chart', { margin: 8, title: 'Total Costs (share of GDP)' });")
									|																 
									#totalcostgdp-chart.skyshares-chart
				|						 
				#documentation.skyshares-sectioncontainer
					.skyshares-sectionheader(data-target='#documentation-body', data-translation='-100,0')
						.menu-item.menu-item-selected(onclick='skyshares.ui.selectsubsection(this);') elevator pitch
						|										 
						.menu-item(onclick='skyshares.ui.selectsubsection(this);') technical overview
						|										 
						.menu-item(onclick='skyshares.ui.selectsubsection(this);') policy proposal
						|										 
						.menu-item(onclick='skyshares.ui.selectsubsection(this);') methodology
						|										 
						.menu-item(onclick='skyshares.ui.selectsubsection(this);') desktop
					|								 
					#documentation-body.skyshares-sectionbody(style='width: 500%;')
						.skyshares-subsection
							.skyshares-subsection-content.skyshares-subsection-content-fullheight
								.skyshares-subsection-column.skyshares-subsection-column-flex
									//
										<h1 class='skyshares-subsection'>
										Elevator Pitch
										</h1>
									iframe.skyshares-pdf(src='https://docs.google.com/file/d/0B2r8eP40VbQMZ19FcWN1b09tNm8/preview', width='256', height='256')
						|										 
						.skyshares-subsection
							.skyshares-subsection-content.skyshares-subsection-content-fullheight
								.skyshares-subsection-column.skyshares-subsection-column-flex
									//
										<h1 class='skyshares-subsection'>
										Technical Overview
										</h1>
									iframe.skyshares-pdf(src='https://docs.google.com/file/d/0B2r8eP40VbQMTXpjb0NhRmNjZE0/preview', width='256', height='256')
						|										 
						.skyshares-subsection
							.skyshares-subsection-content.skyshares-subsection-content-fullheight
								.skyshares-subsection-column.skyshares-subsection-column-flex
									//
										<h1 class='skyshares-subsection'>
										Review
										</h1>
									iframe.skyshares-pdf(src='https://docs.google.com/file/d/0B2r8eP40VbQMaG5lM3Zjdk5CQTA/preview', width='256', height='256')
						|										 
						.skyshares-subsection
							.skyshares-subsection-content.skyshares-subsection-content-fullheight
								.skyshares-subsection-column.skyshares-subsection-column-flex
									//
										<h1 class='skyshares-subsection'>
										Methodology
										</h1>
									iframe.skyshares-pdf(src='https://docs.google.com/file/d/0B2r8eP40VbQMTmdzSUNkSV9ndEE/preview', width='256', height='256')
						|										 
						.skyshares-subsection
							.skyshares-subsection-content.skyshares-subsection-content-fullheight
								.skyshares-subsection-column.skyshares-subsection-column-flex
									//
										<h1 class='skyshares-subsection'>
										Desktop
										</h1>
									iframe.skyshares-pdf(src='https://drive.google.com/embeddedfolderview?id=0B2r8eP40VbQMb19FZUNnT21wNTQ#grid', width='256', height='256')
				|						
				#about.skyshares-sectioncontainer
					.skyshares-sectionheader(data-target='#about-body', data-translation='-100,0')
					|								 
					#about-body.skyshares-sectionbody(style='width: 100%;')
						// allowances
						.skyshares-subsection
							.skyshares-subsection-content
								.skyshares-subsection-column
									h1.skyshares-subsection
										| About
									|																 
									.skyshares-textbox
										p
											b Comments? Feedback? Found any bugs?
											br
											|																				 We&apos;d love to hear from you! Get in touch with Alice Lépissier at 
											a(href='mailto:alice@skyshares.org') alice@skyshares.org
											|  or on Twitter at 
											a(href='https://twitter.com/socialkantract') @socialkantract
											| .		
											br
										|																		 
										p
											b Who we are
											br
											|																				 The Center for Global Development is an independent, non-partisan think tank which works to reduce global poverty and inequality through rigorous research and active engagement with the policy community.
											br
											|																				 Find us at 
											a(href='http://www.cgdev.org') http://www.cgdev.org
											| .
										|																		 
										p
											b Boring corporate stuff (our lawyers made us write this)
											br
											|																				 SkyShares is free and open-source software released under the GNU Affero Public License 3.0. Creating free software is crucial so that everyone in the community can gain an understanding of the problem we are trying to solve. True scrutiny can only come from opening up your data and code so that others can review it. You are free to run the programme as you wish, for any purpose; to download the source code; to modify it and to distribute it to help the community.
											p
											|																				 If you have chosen to use the GCAM data-set on marginal abatement cost curves, you can download the code which was used to generate these marginal abatement cost curves on 
											a(href='http://www.globalchange.umd.edu/models/gcam/') http://www.globalchange.umd.edu/models/gcam/
											|. GCAM is an Integrated Assessment Model.
											p
											|																				 If you have chosen to use the MIT data-set on marginal abatement cost curves, you can download the code which is a modified version of MIT&apos;s Emissions Prediction and Policy Analysis (EPPA) software, version 4.1, released under a Public Release License Agreement. The intellectual property rights on EPPA remain with MIT. Modifications of the model, interpretation of the results and any errors arising from this are our responsibility alone.
											p
											|																				 The other data-sets are all publicly available.
											br
										|																		 
										p
											b See the code
											br
											|																				 You can find the SkyShares code on GitHub at 
											a(href='https://github.com/walice/skyshares') https://github.com/walice/skyshares
											| .
											br
										|																		 
										p
											b Download the desktop version of SkyShares
											br
											|																				 You can download a macro-enabled spreadsheet version of SkyShares at 
											a(href='http://bit.ly/SkySharesDesktop') http://bit.ly/SkySharesDesktop
											| . A select few features of SkyShares only exist on the Desktop version.
											br
		// initialise
		script(type='text/javascript', src='javascripts/skyshares.js')
		|		 
		script(type='text/javascript', src='javascripts/skyshares.map.js')
		|		 
		script(type='text/javascript', src='javascripts/skyshares.ui.js')
		|		 
		script(type='text/javascript', src='javascripts/skyshares.controller.js')
		|		 
		script(type='text/javascript', src='javascripts/skyshares.chart.js')
		|		 
		script(type='text/javascript', src='javascripts/skyshares.share.js')
		|		 
		script(type='text/javascript', src='javascripts/skyshares.guide.js')
