doctype html
html
	block head
		title= title
		link(rel='stylesheet', href='/stylesheets/style.css')
		script(src='/javascripts/skyshares.js')
		script(src='/javascripts/skyshares.rest.js')
		script(src='/javascripts/skyshares.map.js')
		script(type='text/javascript').
			function init() {
				skyshares.init( '#{mode}' );
			}   
		block scripts
	body( onload='init()' )
		block content
