doctype html
html
	block head
		title= title
		link(rel='stylesheet', href='/stylesheets/style.css')
		script( src='http://d3js.org/d3.v3.min.js' charset='utf-8' )
		script( src='http://dimplejs.org/dist/dimple.v2.1.0.min.js' )
		script(src='/javascripts/numeric-1.2.6.js')
		script(src='/javascripts/math.js')
		script(src='/javascripts/snap.svg.js')
		script(src='/javascripts/excellentexport.js')
		script(src='/javascripts/skyshares.js')
		script(src='/javascripts/skyshares.rest.js')
		script(src='/javascripts/skyshares.editor.js')
		script(src='/javascripts/skyshares.math.js')
		script(src='/javascripts/skyshares.geometry.js')
		script(src='/javascripts/skyshares.chart.js')
		script(src='/javascripts/skyshares.model.js')
		
	body( onload='skyshares.model.init();' style='padding: 50px;')
		block content
			h1= title
			
			#cow_container( style='display: inline-block; vertical-align:text-top;' )				
				h2
					strong Coalition
				div.list( style='display: inline-block;' )
					div.listheader
						| <strong>Countries</strong>
					#country_list.listbody
				div.list( style='display: inline-block;' )
					div.listheader
						| <strong>Members</strong>
					#cow_list.listbody
				div.list( style='display: inline-block; width: 576px;' )
					div.listheader
						| <strong>Groups</strong>
					#groups.listbody

			#variable_container( style='display: inline-block; vertical-align:text-top;' )
				h2
					strong Variables
				div( style='padding: 32px;' )
					label( for='risk_scenario' ) risk scenario:&nbsp;
					select#risk_scenario( onchange='skyshares.model.ui.setriskscenario()' ) 
						option( value='0' ) optimistic
						option( value='1' selected ) cautious
						option( value='2' ) pessimistic
					p
					label( for='target_temperature' ) temperature target:&nbsp;
					input#target_temperature( type='number' value='2' min='0' max='10' step='0.1' )
					p
					label( for='mitigation_start' ) mitigation start date:&nbsp;
					input#mitigation_start( type='number' value='2015' min='2015' max='2060' step='1' )
					p
					label( for='convergence_date' ) convergence date:&nbsp;
					input#convergence_date( type='number' value='2030' min='2015' max='2100' step='1' )
					p
					label( for='trading_scenario' ) trading scenario:&nbsp;
					select#trading_scenario( onchange='skyshares.model.ui.settradingscenario()' )
						option( value='0' ) endogenous fulltrade
						option( value='1' ) endogenous no trade
						option( value='2' ) endogenous regulation
					&nbsp;
					label( for='regulated_share' ) % of mandated decarbonisation:&nbsp;
					input#regulated_share( type='number' value='40'  )
					&nbsp;
					p
					label( for='reference_date' ) reference year:&nbsp;
					input#reference_date( type='number' value='2009' min='2009' max='2100' step='1' )
					&nbsp;
					p
					label( for='allocation rule' ) allocation rule:&nbsp;
					select#allocation_rule( onchange='skyshares.model.ui.setallocationrule()' )
						option( value='0' ) per capita
						option( value='1' ) carbon debt
						option( value='2' ) GDP basis
						option( value='3' ) historical responsibilities
					&nbsp;
					p
					input#run( type='button' value='run' onclick='skyshares.model.run();' )
					&nbsp;
					input#reset( type='button' value='reset' onclick='skyshares.model.reset();' )
					br
					progress#model_progress( min='0' max='100' style='visibility: hidden;' )
			#results