html {
	overflow: hidden;
}

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: rgb(55,195,244);
  color: white;
  overflow: hidden;
}
/*
	panels
*/
div.skyshares-map {
	position: fixed;
	left: 0px;
	right: 0px;
	top: 176px;
	bottom: 0px;
	background: rgba( 172, 251, 255, 1.0 );
}
object.skyshares-map {
	width: 100%;
	height: 100%;
}

div.skyshares-topbar {
	position: fixed;
	top: 0px;
	left: 0px;
	right: 0px;
	height: 176px;
	background-color: rgba( 0, 31, 255, 0.5 );
}
div.skyshares-topbar-menu {
	position: absolute;
	left: 0px;
	right: 0px;
	bottom: 0px;
	height: 48px;
	//background: rgba( 0, 31, 255, 0.5 );
	white-space: nowrap;
}

div.skyshares-topbar-menu-item {
	display: inline-block;
	min-width: 46px;
	height: 46px;
	padding: 0 8px 0 8px;
	border: none;
	text-align: center;
	vertical-align: middle;
	line-height: 46px;
	cursor: pointer;
}

div.skyshares-topbar-menu-item-selected {
	border-bottom: 2px solid white;
}

div.skyshares-scroll-container {
	position: absolute;
	top: 176px;
	left: 0px;
	bottom: 0px;
	right: 0px;
	overflow: hidden;
}

div.skyshares-scroller {
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;

	transition-property: top;
	transition-duration: 0.75s;
	
	-webkit-transform: translateZ(0);
}

div.skyshares-settings-container {
	position: relative;
	left: 0px;
	width: 100%;
	height: 1024px; // TODO: something more sensible with this
	
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;

	transition-property: top;
	transition-duration: 0.75s;
}

div.skyshares-settings-container:nth-of-type(even) {
    background-color: rgba( 55, 195, 240, 0.5 );
}
div.skyshares-settings-container:nth-of-type(odd) {
    background-color: rgba( 93, 59, 237, 0.5 );
}
div.skyshares-settings-container:nth-of-type(1) {
    background-color : transparent;
}

div.skyshares-settings-container-header {
	position: absolute;
	//left: 0px;
	//right: 0px;
	top: 0px;
	height: 48px;
	width: 100%;
	//background: rgba( 0, 31, 255, 0.5 );
	transition-property: left,right;
	transition-duration: 0.75s;
	white-space: nowrap;
}

div.skyshares-settings-container-header-fixed {

}

div.skyshares-settings-container-header-item {
	display: inline-block;
	min-width: 46px;
	height: 46px;
	padding: 0 8px 0 8px;
	border: none;
	text-align: center;
	vertical-align: middle;
	line-height: 46px;
	cursor: pointer;
}

div.skyshares-settings-container-header-item-selected {
	border-bottom: 2px solid white;
}

div.skyshares-settings-container-body {
	position: absolute;
	left: 0px;
	right: 0px;
	top: 48px;
	height: 100%;
	overflow-x: hidden;
	overflow-y: auto;
}

div.skyshares-settings {
	display: -webkit-flex;
	display: flex;	
	-webkit-flex-flow: row wrap;
	flex-flow: row wrap;
	align-items: flex-start;
	
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	/*
	min-height: 100%;
	overflow-x: hidden;
	overflow-y: auto;
	*/
	transition-property: left;
	transition-duration: 0.75s;
}

div.skyshares-settings-hidden {
	top: 100%;
}

div.skyshares-settings-column {
	-webkit-flex: 1;
	flex: 1;
	min-width: 304px;
}

div.skyshares-settings-column-inner {
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: column;
	flex-direction: column;
	align-items: center;
	-webkit-align-items: center;
	width: 100%;
	height: 100%;
}

div.skyshares-settings-item {
/*
	-webkit-flex: 0;
	flex: 0;
*/
	margin-bottom: 24px;
}

h1.skyshares-settings {
	color:white;
	font-size: 24px;
	font-weight: bold;
	//border-bottom: 1px solid white;
}

#map-controls {
	position: absolute;
	left: 0px;
	top: 0px;
	right: 0px;
}

hr.skyshares-vertical {
	width: 2px;
	height: 80%;
	border: 0px;
	colour: white;
	background-color: white;
	margin: auto;
}

div.skyshares-select-list {
	display: block;
	width: 256px;
	height: 256px;
	
	overflow-x: hidden;
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
	
	color: white;
	background-color: rgb(55,195,244);
	cursor: pointer;
}

span.skyshares-select-list-item {
	display: block;
	width: 100%;
	margin: 4px;
	height: 40px;
	line-height: 40px;
}

span.skyshares-select-list-item:before {
	content: '+ ';
}

span.skyshares-deselect-list-item {
	display: block;
	width: 100%;
	margin: 4px;
	height: 40px;
	line-height: 40px;
}

span.skyshares-deselect-list-item:before {
	content: '- ';
}


span.skyshares-select-list-item:nth-of-type(even),
span.skyshares-deselect-list-item:nth-of-type(even) {
    background-color: rgba( 55, 195, 240, 0.5 );
}
span.skyshares-select-list-item:nth-of-type(odd),
span.skyshares-deselect-list-item:nth-of-type(odd) {
    background-color: rgba( 93, 59, 237, 0.5 );
}

div.skyshares-show-settings {
	position: absolute;
	right: 0px;
	top: -46px;
	width: 96px;
	height 48px;

	text-align: center;
	vertical-align: middle;
	line-height: 46px;

	color: white;
	background-color: rgba( 0, 31, 255, 0.5 );

	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
	cursor: pointer;
}
div.skyshares-tooltip,
div.skyshares-country-details {
	min-width: 256px;
	padding: 16px;
	background-color: rgba( 255, 255, 255, 0.5 );
	color: black;
	font-size: 24px;
	visibility: hidden;
	transition-duration: 0.5s;
}
.tooltip_bold {
	font-weight: bold;
}
.tooltip_light {
	font-weight: light;
}

/*
	table and chart 
*/

object.skyshares-pdf {
	-webkit-flex: 1;
	flex: 1;
	height: 460px;
	margin: 0 24px 24px 24px;
	color: white;
}

/*
	document icon
	
*/
a.document {
	background:#eee;
	//background:-moz-linear-gradient(top, #ddd 0, #eee 15%, #fff 40%, #fff 70%, #eee 100%);
	//background:-webkit-linear-gradient(top, #ddd 0, #eee 15%, #fff 40%, #fff 70%, #eee 100%);
	background-color: white;
	border:1px solid #ccc;
	-moz-border-radius:3px 15px 3px 3px;
	-webkit-border-radius:3px 15px 3px 3px;
	border-radius:3px 15px 3px 3px;
	-moz-box-shadow:inset rgba(255,255,255,0.8) 0 1px 1px;
	-webkit-box-shadow:inset rgba(255,255,255,0.8) 0 1px 1px;
	box-shadow:inset rgba(255,255,255,0.8) 0 1px 1px;
	display:inline-block;
	width:40px;
	height:56px;
	position:relative;
	text-indent:-9999em;
	margin:42px auto;
}
a.document:before {
	content:"";
	display:block;
	position:absolute;
	top:0;
	right:0;
	width:15px;
	height:15px;
	background:#ccc;
	//background:-moz-linear-gradient(45deg, #fff 0,  #eee 50%, #ccc 100%);
	//background:-webkit-linear-gradient(45deg, #fff 0,  #eee 50%, #ccc 100%);
	//box-shadow:rgba(0,0,0,0.05) -1px 1px 1px, inset white 0 0 1px;
	border-bottom:1px solid #ccc;
	border-left:1px solid #ccc;
	-moz-border-radius:0 14px 0 0;
	-webkit-border-radius:0 14px 0 0;
	border-radius:0 14px 0 0;
}

a.document:after {
	content: attr(title);
	display:block;
	position:relative;
	left:-100%;
	top:50%;
	color: black;
	width:100%;
	height:16px;
}

span.document {
	margin: 4px;
	padding: 4px;
	color: #ccc;
	background-color: white;
}

div.skyshares-chart {
	width: 90%;
	height: 400px;
	color: white;
}

div.skyshares-table {
	width: 90%;
	height: auto;
	color: white;
	overflow: auto;
	-webkit-overflow-scrolling: touch;
}

div.skyshares-table table {
	display: inline-block;
	border-collapse: collapse;
	margin: 8px;
}

div.skyshares-table th {
	border-right: 1px solid white;
	border-bottom: 1px solid white;
	text-align: center;
}

div.skyshares-table tr {
	height: 24px;
}

div.skyshares-table tr th:first-child {
	text-align: right;
	padding-right: 4px;
}

div.skyshares-table table tr:first-child th:first-child {
	text-align: left;
	padding-left: 4px;
	border: none;
}

div.skyshares-table td {
	width: 79px;
	text-align: right;
	padding-right: 4px;
	border-right: 1px solid white;
	border-bottom: 1px solid white;
}


/*
	inputs
*/
input.skyshares {
	display: none;
	-webkit-appearance: none;
	padding: 0;
	margin: 0;	
}
input.skyshares:focus {
	outline: none;
}

input[type=range].skyshares {
	display: block;
	padding 0;
	width: 256px;
	height: 48px;
	background: transparent;
}

 input[type=range].skyshares:focus {
	outline: none;
}

input[type=range].skyshares::-webkit-slider-runnable-track {
	height: 6px;
	cursor: pointer;
	background: rgba(255,255,255,0.5);
	border-radius: 3px;
	border: none;
}
input[type=range].skyshares::-webkit-slider-thumb {
	-webkit-appearance: none;
	height: 24px;
	width: 24px;
	border: none;
	border-radius: 12px;
	box-shadow: 0px 0px 0px 12px rgba(255,255,255,0.5);
	background: rgba(255,255,255,0.75);
	margin-top: -9px;
	cursor: pointer;
}
input[type=range].skyshares:focus::-webkit-slider-runnable-track {
	height: 6px;
	cursor: pointer;
	background: rgba(255,255,255,0.5);
	border-radius: 3px;
	border: none;
}

input[type=range].skyshares::-moz-range-track {
	height: 6px;
	cursor: pointer;
	background: rgba(255,255,255,0.5);
	border-radius: 3px;
	border: none;
}
input[type=range].skyshares::-moz-range-thumb {
	height: 24px;
	width: 24px;
	border: none;
	border-radius: 12px;
	box-shadow: 0px 0px 0px 12px rgba(255,255,255,0.5);
	background: rgba(255,255,255,0.75);
	margin-top: -9px;
	cursor: pointer;
}
input[type=range].skyshares::-ms-track {
	display: block;
	width: 100%;
	height: 6px;
	cursor: pointer;
	background: transparent;
	border-color: transparent;
	color: transparent;
	padding 0px;
}
input[type=range].skyshares::-ms-fill-lower {
  background: rgba(255,255,255,0.5);
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  margin-left: 24px;
}
input[type=range].skyshares::-ms-fill-upper {
  background: rgba(255,255,255,0.5);
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  margin-right: 24px;
}
input[type=range].skyshares:focus::-ms-fill-lower {
  background: rgba(255,255,255,0.5);
}
input[type=range].skyshares:focus::-ms-fill-upper {
  background: rgba(255,255,255,0.5);
}
input[type=range].skyshares::-ms-thumb {
	height: 24px;
	width: 24px;
	border: none;
	border-radius: 12px;
	box-shadow: 0px 0px 0px 12px rgba(255,255,255,0.5);
	background: rgba(255,255,255,0.75);
	cursor: pointer;
	margin: 0 12px;
}
input[type=range].skyshares::-ms-tooltip {
	display: none;
}

input[type=range].skyshares + label.skyshares {
	display:block;
	text-align: center;
	font-size: 24px;
	font-weight: bold;
}
//
//
//
input[type=radio].skyshares, input[type=checkbox].skyshares {
	display: none;
}

input[type=radio].skyshares + label.skyshares, input[type=checkbox].skyshares + label.skyshares {
	display:inline-block;
	height: 48px;
	width: 48px;
	border: none;
	border-radius: 24px;
	box-shadow: 0px 0px 0px 24px;
	background-color: rgba(255,255,255,1.0);
	cursor: pointer;
	opacity: 0.5;
	z-index: 0;
	margin: 12px;
}

input[type=radio].skyshares:checked + label.skyshares, input[type=checkbox].skyshares:checked + label.skyshares {
	opacity: 1.0;
	z-index: 2;
}

input[type=radio].skyshares + label.skyshares, input[type=checkbox].skyshares + label.skyshares {
	display:inline-block;
	text-align: center;
	font-size: 24px;
	font-weight: bold;
}

input[type=search].skyshares {
	display:block;
	height: 24px;
	width: 256px;
	border-radius: 12px;
	border: none;
	margin: 12px 0px;
	padding: 0px 12px;
	color: white;
	background-color: rgb(55,195,244);
}

output.skyshares {
	display:block;
	text-align: center;
	font-size: 36px;
	font-weight: bold;
}

fieldset.skyshares {
	border: none;
	margin: 24px 0px 18px;
}

fieldset.skyshares + label.skyshares {
	display:block;
	text-align: center;
	font-size: 24px;
	font-weight: bold;
}

div.skyshares-textbox {
	position: absolute;
	top: 16px;
	left: 16px;
	bottom: 16px;
	right: 16px;
	overflow-y: auto;
}

img.cgd-logo {
	position: absolute;
	top: 24px;
	left: 24px;
	height: 104px;
}

img.skyshares-logo {
	position: absolute;
	top: 24px;
	right: 24px;
	height: 104px;
}
/*
	c3 overrides
*/

.c3-axis-x,
.c3-axis-y,
.c3-axis line,
.c3-axis path  {
	stroke: white;
}

.c3-axis-x .tick,
.c3-axis-y .tick,
.c3-legend-item,
.c3-axis-x .label,
.c3-axis-y .label {
	stroke: none;
	fill: white;
}
/*
	mobile media queries
*/